[Desktop Entry]
Encoding=UTF-8
Name=Link to 4USkY - Collection of the Best Decisions for Coloring of Your Desktop, Tablet or Mobile Screen
Type=Link
URL=http://www.4usky.com/
Icon=text-html
Name[en_US]=4Usky.lnk
